<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ContactsEntities" connectionString="metadata=res://*/ContactsModel.csdl|res://*/ContactsModel.ssdl|res://*/ContactsModel.msl;provider=MicrosoftSqlServer;provider connection string=&quot;Data Source=.\SQLEXPRESS;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>