<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Cenium.EFT.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IPaymentService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"/>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://isak-srv:8523/Cenium.EFT/PaymentService/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPaymentService" contract="PaymentService.IPaymentService" name="NetTcpBinding_IPaymentService">
        <identity>
          <userPrincipalName value="ISAK-SRV\Administrator"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="FormBackColor" value="GradientActiveCaption"/>
    <add key="ShowProcessForm" value="true"/>
    <add key="UseOnScreenNumPad" value="true"/>
	  <add key="ManualAuthServerDriver" value="false"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
