<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PricesEntities" connectionString="metadata=res://*/PricesModel.csdl|res://*/PricesModel.ssdl|res://*/PricesModel.msl;provider=MicrosoftSqlServer;provider connection string=&quot;Data Source=.\SQLEXPRESS;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>