<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RoomsEntities" connectionString="metadata=res://*/RoomsModel.csdl|res://*/RoomsModel.ssdl|res://*/RoomsModel.msl;provider=MicrosoftSqlServer;provider connection string=&quot;Data Source=.\SQLEXPRESS;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>